<form method="POST">
  <input name="name" placeholder="Item Name" required />

  <select name="type">
    <option value="lost">Lost</option>
    <option value="found">Found</option>
  </select>

  <select name="category">
    <option>Electronics</option>
    <option>Documents</option>
    <option>Accessories</option>
    <option>Books</option>
    <option>Clothing</option>
    <option>Others</option>
  </select>

  <input name="location" placeholder="Location" />
  <input name="date" type="date" />
  <textarea name="description"></textarea>

  <button>Add Item</button>
</form>
