<h2>All Items</h2>
<% items.forEach(item => { %>
  <div>
    <h3><%= item.name %></h3>
    <p><%= item.type %> - <%= item.category %></p>
    <a href="/items/<%= item.id %>">View</a>
  </div>
<% }) %>
